.mini-edit-task-container {

    display: flex;
    flex-direction: row;
    position: fixed;
    top: 129px;
    left: 21px;
    z-index: 100;

    & .mini-edit-main-content {
        width: 272px;
    }

    & .mini-edit-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & .task-preview-pin {
            display: flex;
            align-items: center;
        }

        & .mini-edit-checklists-pin {
            display: flex;
            align-items: center;
            padding: 1px;
        }

        & .attachment-pin-div {
            & span {
                font-size: 1em;
            }

            & .attachment-pin {
                height: 14px;
            }
        }

        & .mini-edit-characters {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            padding-bottom: 4px;
        }

        & .mini-edit-members-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // flex: 1;
            padding-bottom: 4px;
        }
    }

    & .mini-edit-main-card {
        word-wrap: break-word;
        background-color: #fff;
        display: flex;
        box-shadow: 0 1px 0 #16181b40;
        flex-direction: column;
        max-width: 300px;
        min-height: 200px;
        padding: 6px 8px 2px;
        position: relative;
        min-height: 200px;
        min-width: 230px;

        & .mini-edit-labels-list {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            padding: 4px 8px 0px 0px;
            margin-bottom: 4px;

            & .mini-edit-labels-list {
                padding: 0;
            }

            & .labels-task-preview-mini-color {
                top: 4px;
                bottom: 4px;
                // left: 4px;
                border-radius: 50%;
                margin-right: 3px;
                margin-left: 0;
                width: 10px;
                height: 10px;
            }

            & .task-preview-label-preview-open {
                display: flex;
                align-items: center;
                border-radius: 4px;
                height: 16px;
                padding: 0 6px;
                font-size: 12px;
                min-height: 16px;
                font-weight: 400;
                transition: height .5s, padding .3s;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                // color: rgb(255, 255, 255);
            }

            & .task-preview-label-preview {
                align-content: center;
                border-radius: 4px;
                font-size: 12px;
                height: 8px;
                // padding: 4px;
                position: relative;
                transition: height .5s, padding .3s;
                width: 40px;
            }
        }

    }


    & .mini-edit-side-bar {
        display: flex;
        flex-direction: column;
    }

    & .mini-edit-textarea-container {
        height: 80%;
    }

    & #mini-edit-textarea {
        resize: none;
        border: none;
        inset: 0;
        border-radius: 3px;
        width: 100%;
        height: 150px;

        &:focus {
            border: unset;
            outline: 0;
        }
    }

    & .save-mini-edit {
        height: 34px;
        margin: 17px 4px 0 0;
        width: 65px;
        background-color: #0079bf;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: .875rem;
        padding: 6px 12px;

        &:hover {
            background-color: #026aa7;
            box-shadow: none;
        }
    }


    & .mini-edit-actions-btn {
        background: #0009;
        border: none;
        border-radius: 3px;
        color: #e6e6e6;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue;
        font-size: 14px;
        gap: 5px;
        margin: 0 0 4px 8px;
        padding: 6px 12px 6px 8px;
        transition: -webkit-transform 85ms ease-in;
        transition: transform 85ms ease-in;
        transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        &:hover {
            background: #000c;
            color: #fff;
            -webkit-transform: translateX(0px);
            transform: translateX(5px);
        }

        word-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}




.black-screen {
    background-color: rgba(0, 0, 0, .639);
    display: block;
    inset: 0;
    min-height: 100vh;
    overflow-y: auto;
    position: fixed;
    transition: opacity .2s ease-out;
    width: 100vw;
    z-index: 15;
}