.task-preview {
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c0c6d0;
    cursor: pointer;
    color: lighten(#172b4d, 10%);
    position: relative;

    & p{
        font-size: 14px;
    }
    .edit-task-preview-icon {
        align-items: center;
        background-color: #ebecf0;
        color: #6d6d6d;
        border-radius: 3px;
        display: flex;
        height: 25px;
        justify-content: center;
        padding: 4px;
        margin: 2px 2px 0 0;
        width: 25px;
        z-index: 15;
        display: none;
        position: absolute;
        right: 2px;
        top: 2px;
    }

    &:hover .edit-task-preview-icon {
        display: block;
    }


    &:hover {
        background-color: darken(#ffffff, 3%)
    }

    & .task-cover-background {
        height: 32px;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        background-position: center center;
        background-size: cover;

        & .cover-dark-up {
            position: absolute;
            bottom: 28px;
            height: 15px;
            width: 100%;
        }

        & .cover-dark-task {
            height: 20px;
            line-height: 20px;
            padding: 8px;
            height: 29px;
            line-height: 20px;
            padding: 8px;
            position: absolute;
            bottom: -1px;
            width: 100%;
        }
    }

    & .task-title {

        &.full {
            position: absolute;
            color: rgb(238, 236, 232);
            font-weight: 500;
            bottom: 0px;
            padding-bottom: 8px;
        }

        &.text-full {
            position: absolute;
            bottom: 0;
            color: rgb(0, 0, 0);
            font-weight: 500;
        }
    }

    & .task-preview-labels-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding: 4px;
        margin-bottom: 5px;
        padding: 4px 8px 4px 12px;

        & .labels-task-preview-mini-color{
            top: 4px;
            bottom: 4px;
            // left: 4px;
            border-radius: 50%;
            margin-right: 3px;
            margin-left: 0;
            width: 10px;
            height: 10px;
        }

        & .task-preview-label-preview-open {
            display: flex;
            align-items: center;
            border-radius: 4px;
            height: 16px;
            padding: 0 6px;
            font-size: 12px;
            min-height: 16px;
            font-weight: 400;
            transition: height .5s, padding .3s;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            // color: rgb(255, 255, 255);
        }

        & .task-preview-label-preview {
            align-content: center;
            border-radius: 4px;
            font-size: 12px;
            height: 8px;
            // padding: 4px;
            position: relative;
            transition: height .5s, padding .3s;
            width: 40px;
        }
    }


    .task-preview-Characters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px 8px 2px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;



        & .task-preview-pins {
            flex: 1 1;
            gap: 4px;
            display: flex;
            align-items: center;
            padding-bottom: 4px;
            align-items: center;

            & .task-preview-date-container{
                display: flex;
                background-color: #61bd4f;
                border-radius: 3px;
                color: #fff;
                padding-left: 2px;
                padding-right: 5px;
                align-items: center;

                & .task-preview-date-pin{
                    display: flex;
                    margin-right: 3px;
                    height: 14px;
                    width: 14px;
                    align-items: center;
                }

                & .task-preview-date-due{
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 10px;
                        padding: 0;
                    }
                      
                }
                &.overdue {
                   background-color: #ec9488;     
                }
            }

            & .task-preview-pin {
                // background-color: #172b4d;
                border-radius: 3px;
                font-size: 12px;
                gap: 4px;
                padding: 2px 5px;
                display: flex;
                align-items: center;
            }
        }

        & .task-preview-members-container {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 4px;

            & .task-preview-member-box {
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                height: 30px;
                justify-content: center;
                object-fit: cover;
                width: 30px;
                margin-left: 1px;
            }
        }
    }
}