.board-list {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;

    & a {
        color: $clr0;
        font-weight: 10px;

    }

}

.workspace {
    position: relative;
    max-width: 1033px;
    margin: auto;
    margin-top: 30px;

    & span {
        color: black;
        margin-bottom: 20px;
        
    }
    

}