.board-preview {

    background-position: center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 3px;
    height: 96px;
    padding: 10px 0 0 10px;
    width: 182px;
    margin-bottom: 15px;
    position: relative;



    &.create-board {
        position: relative;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #091e420a;

    }

    & .star-icon {
        position: absolute;
        height: 20px;
        width: 20px;
        right: 10px;
        bottom: 15px;
    }
}

.board-previwe-container {
    position: relative;

    & .remove-board {
        position: absolute;
        top: -2px;
        right: 20px;
        opacity: 0;
        cursor: pointer;

    }

    &:hover .remove-board {
        opacity: 1;
        transition: 0.3s;
        color: white
    }

    &:hover .star-board-preview {
        opacity: 1;
        transition: 0.3s;

    }

    & .star-board-preview {
        position: absolute;
        right: 20px;
        opacity: 0;
        cursor: pointer;
        height: 23px;
        width: 23px;
        bottom: 23px;
        color: white;

        &.stared {
            color: gold;
        }
    }
}