.page-loader {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & .loader-gif {
       
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}

