.popover-container {
    background-color: #f4f5f7;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    border-top-right-radius: 0;
    box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    position: fixed;
    right: 0;
    top: 85px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .5s;
    width: 340px;
    z-index: 30;

    & .colors-header-popover {


        & .go-back-popover {
            cursor: pointer;
        }
    }

    & .colors-container-popover {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 8px;
        padding: 10px;
        overflow: auto;
        & .color-container {
            height: 100px;
            border-radius: 3px;
            cursor: pointer;
            background-size: cover;
            background-position: center;
            
        }
        & .image-category-container{
            text-align: center;
            color: #172b4d;
        }
    }

    &.open {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    & .popover-header {
        color: #172b4d;
        font-weight: 600;
        line-height: 40px;
        overflow: hidden;
        padding: 14px 6px 14px 12px;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;

        & span {
            margin: 0 auto;
            text-align: center;
        }

        & .close-btn-popover {
            color: #172b4d;
            font-size: 16px;
            position: absolute;
            right: 5px;
            top: 20px;
            background-color: inherit;
            border: none;
            font-size: .875rem;
            padding: 4px 8px;
        }
    }

    & .img-colors-popover {
        align-items: center;
        display: flex;
        margin-top: 8px;
        height: 100px;

        & .colors-popover,
        .imgs-popover {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            margin: 8px;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #172b4d;
            cursor: pointer;
            font-size: 14px;

            & img {
                border-radius: 3px;
                width: 100%;
                height: 100%;
            }
        }

    }

}