.task-preview {
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c0c6d0;
    cursor: pointer;
    color: lighten(#172b4d, 10%);

    &:hover {
        background-color: darken(#ffffff, 3%)
    }

    & .task-cover-background {
        height: 32px;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }
}