.task-details-view {

  margin: auto;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 100px;
  z-index: 8;
  bottom: 0;
  background-color: #000000a3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding-bottom: 60px;


  & .details-bgColor {
    height: 170px;
    width: 48rem;
    position: relative;

    & button {
      position: absolute;
      background-color: #ffffff3d;
      border: none;
      border-radius: 3px;
      bottom: 10px;
      color: #fff;
      padding: 6px 12px 6px 6px;
      position: absolute;
      right: 10px;
    }

    & img {
      background-position: center center;
      background-size: cover;
      height: 100%;
      object-fit: contain;
    }
  }
}

.task-details-modal {
  background-color: #f8f7f7;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  max-width: 48rem;
  /* width: 100%; */
  min-height: 600px;
  position: relative;
  /* flex-grow: 1; */
  flex-basis: 100%;
  padding-bottom: 20px;
  overflow-y: auto;




  @include for-wide-layout {
    flex-direction: column;
  }

  & .members-details-content{
    width: max-content;
  }

  .action-type-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    & .task-details-member-box-plus-member{
      font-size: 14px;
    }

    & .due-date-checkbox {
      @include for-checkbox;

    }

    & .task-details-date-container {
      background-color: #eaecf0;
      cursor: pointer;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 13px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px 0 4px;
      min-width: 32px;
      padding: 2px 12px;
      gap: 0.3em;

      p {
        padding: 0;
      }

      .ontime {
        background-color: #61bd4f;
        font-size: 12px;
        line-height: 16px;
        padding: 0 4px;
        border-radius: 2px;
        margin: auto 0 auto 8px;

      }

      .overdue {
        background-color: #ec9488;
        font-size: 12px;
        line-height: 16px;
        padding: 0 4px;
        border-radius: 2px;
        margin: auto 0 auto 8px;
      }


      &:hover {
        background-color: #d9dadd;
      }

    }


    & .task-details-label-box-plus-label {
      background-color: #eaecf0;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px 4px 0;
      min-width: 32px;
      height: 32px;
      padding: 0 12px;
      font-weight: 600;

      &:hover {
        background-color: #d9dadd;
      }
    }

    & .task-details-label-box {
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px 4px 0;
      min-width: 40px;
      height: 32px;
      padding: 0 9px;
      font-weight: 600;
      position: relative;
      color: #f5f5f5;

    }
  }

  & .details-content {
    @include for-normal-layout {
      flex-direction: row;
    }

    flex-direction: column-reverse;

    display: flex;
    // background-color: blueviolet;

    & .details-main-content {
      flex: 1 1;
      margin: 0;
      max-width: 100%;
      min-width: 72%;
      padding: 0 8px 8px 16px;
      position: relative;
      // background-color: #bdbebf;


      & .first-content {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        flex-wrap: wrap;
        margin: 0 0 12px 40px;
        flex-direction: column;

        & .members-labels-content {
          display: flex;
        }

        & .members-labels-content {
          display: flex;
        }

        & .actions-type {
          margin: 0 8px 8px 0;
          max-width: 100%;

          & h4 {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      & .activity-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        position: relative;

        & #activity-textarea {
          margin: 0 0 12px 40px;
          background-color: #fff;
          border: none;
          border-radius: 3px;
          box-shadow: inset 0 0 0 1px #091e4221;
          box-sizing: content-box;
          box-sizing: initial;
          flex: 1 1;
          min-height: 20px;
          overflow: hidden;
          overflow-wrap: break-word;
          padding: 8px 12px;
          resize: none;
          transition: all 0.4s;

          &:focus {
            outline: none;
            padding-bottom: 56px;
          }
        }
      }

      & .description-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        position: relative;

        & #description-textarea-basic {
          margin: 0 0 12px 40px;
          min-height: 2.5rem;
          transition: all 0.4s;
          resize: none;
          background-color: inherit;
          border: none;
          border-radius: 3px;
          box-shadow: none;
          color: #172b4d;
          cursor: pointer;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
          overflow: hidden;
          overflow-wrap: break-word;
          padding: 8px 12px;

          &:hover {
            background-color: #091e4214;
          }

          &:focus {
            border: 0 #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
            min-height: 108px;
            outline: none;
          }
        }

        & .description-edit {
          margin: 0 0 12px 40px;

          & .save-description {
            align-items: center;
            background-color: #0079bf;
            border-radius: 3px;
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
              Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            line-height: 20px;
            padding: 0.375rem 0.75rem;
            border: none;
            margin-right: 8px;
            cursor: pointer;

            &:hover {
              background-color: #026aa7;
            }
          }

          & .close-description {
            line-height: 20px;
            padding: 0.375rem 0.75rem;
            border-radius: 3px;
            font-size: 14px;
            color: #172b4d;
            background-color: initial;
            border: none;
            box-shadow: none;

            &:hover {
              background-color: var(--ds-background-neutral-hovered, #091e4214);
            }
          }

          & .close-description-edit {
            cursor: pointer;
          }
        }
      }

      & .container-title {
        display: flex;
        margin: 0 0 4px 40px;
        min-height: 2rem;
        padding: 8px 0;
        position: relative;

        & .title-icon {
          height: 24px;
          left: -40px;
          position: absolute;
          top: 6px;
          width: 24px;
        }

        & h5 {
          // display: inline-block;
          margin: 0;
          color: #5e6c84;
          font-weight: 600;
          font-size: 1em;
        }
      }
    }

    & .details-side-actions {
      @include for-normal-layout {
        padding: 0 4px 8px 8px;
        display: block;
        flex-wrap: nowrap;
        max-width: 240px;
        min-width: 200px;
        position: relative;

        & h5 {
          display: block;
        }
      }

      // & h5{
      //   display: none;
      // }
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      min-width: 50%;

      & .details-actions {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        line-height: 20px;

        &:last-child {
          margin-bottom: 24px;
        }

        & button {
          align-items: center;
          background-color: #091e420a;
          border: none;
          border-radius: 3px;
          color: #172b4d;
          display: flex;
          height: 32px;
          margin-bottom: 8px;
          min-width: 140px;
          padding: 6px 12px;
          position: relative;
          margin-right: 10px;

          &>* {
            margin-right: 10px;
            // color: #172b4d;
          }

          &:hover {
            background-color: #091e4214;
          }
        }
      }

      & h5 {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
      }

    }
  }

  & .close-details-modal-icon {
    align-items: center;
    border: none;
    color: #42526e;
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    // margin: 4px;
    margin: 10px 10px 0 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    border-radius: 50%;
    background-color: #00000014;
    cursor: pointer;
    color: #42526e;
    &:hover {
      border-radius: 50%;
      background-color: #1c1c1c29;
    }
  }

  & .details-header {
    background-color: inherit;
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
  }

  & .calender-icon {
    height: 24px;
    left: -40px;
    position: absolute;
    top: 0;
    width: 24px;
  }

  & #details-title {
    background-color: hsla(0, 0%, 100%, 0);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: -4px -8px;
    padding: 4px 8px;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #172b4d;
    cursor: pointer;
    height: 2.05rem;
    display: block;
    overflow: hidden;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

    &:focus {
      border: 0 #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      outline: none;
    }
  }
}

// Attachment
.attachment-container {
  display: flex;
  flex-direction: row;

}

progress {
  margin: 0 0 5px 40px;
  border-radius: 4px;
  clear: both;
  height: 8px;
  overflow: hidden;
  width: 92%;
  background: #5ba4cf;

  .green & {
    background: green !important;
  }

  &::-moz-progress-bar {
    background: #5ba4cf;

    .green & {
      background: green !important;
    }
  }

  /* For Chrome or Safari */
  &::-webkit-progress-value {
    background: #5ba4cf;

    .green & {
      background: green !important;
    }

  }

  /* For IE10 */
  // progress {
  //   background: #5ba4cf;

  // }
}

image.png .green {

  progress::-moz-progress-bar {
    background: green !important;
  }

  /* For Chrome or Safari */
  progress::-webkit-progress-value {
    background: green !important;

  }

  /* For IE10 */
  progress {
    background: green !important;

  }

}




.checklist-container {

  input {
    @include for-dynamic-input;
    margin: 12px 0 10px;

  }

  .container-checklist-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4px 40px;
    min-height: 2rem;
    padding: 8px 0;
    position: relative;

    & .title-icon {
      height: 24px;
      left: -40px;
      position: absolute;
      top: 12px;
      width: 24px;
    }

    & h5 {
      // display: inline-block;
      margin: 0;
      color: #5e6c84;
      font-weight: 600;
      font-size: 1em;
    }
  }

  .delete-btn,
  .cancel-btn {
    @include for-dynamic-btn;
    width: fit-content;
    margin-top: 0;
    padding: 6px 12px;
    width: 5.125rem;

  }

  .add-btn {
    @include for-add-action-button;
  }

  .add-open-input {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 12px;
    outline: none;
    padding: 8px 12px;
    width: fit-content;
    margin: 12px 0 10px;
    margin-inline-start: 40px;
    color: #42526e;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }

  .checklist-todo {
    display: flex;
    margin-inline-start: 40px;
    gap: 7px;
    align-items: center;
    // position: relative;
    margin-bottom: 4px;
    border-radius: 3px;

    .checkbox {
      @include for-checkbox;
      margin-bottom: 32px;
    }

    .remove-todo-container{
      position: relative;
    }

    .remove-todo-btn {
      align-items: center;
      background-color: #ebecf0;
      color: #6d6d6d;
      border-radius: 3px;
      display: flex;
      height: 25px;
      justify-content: center;
      padding: 4px;
      margin: 2px 2px 0 0;
      width: 25px;
      z-index: 15;
      border: none;
      display: none;
      position: absolute;
      right: 10px;
      top: -20px;
    }

    &:hover .remove-todo-btn {
      display: block;
    }


    .options-modal-open {
      // top: 118px;
      display: flex;
      flex-direction: column;
      text-align: center;
      min-height: 50px;
      width: 195px;
      background-color: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      position: absolute;
      z-index: 35;
      // margin: 24px 12px;
      // margin-left: 55px;
      padding: 0 12px;
      right: 0;
      top: 20px;

      & .modal-actions {
        align-items: center;
        color: #5e6c84;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #091e4221 !important;

        & p {
          padding: 0;
        }

        & .close-modal-icon {
          right: 12px;
          float: right;
          position: absolute;
          cursor: pointer;
        }
      }

      & .delete-group-btn {
        background-color: rgba(9, 30, 66, 0.08);
        background-color: unset;
        border-radius: 3px;
        color: #172b4d;
        display: block;
        margin: unset;
        position: relative;
        border: none;
        margin: 5px auto;
        height: 22px;
        width: 90%;

        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
      }


    }

    .checkbox-checked-content {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='-3 -4 16 16'%3E%3Cpath d='M1.49 3.215a.667.667 0 0 0-.98.903l2.408 2.613c.358.351.892.351 1.223.02l.243-.239a1689.645 1689.645 0 0 0 2.625-2.589l.027-.026a328.23 328.23 0 0 0 2.439-2.429.667.667 0 1 0-.95-.936c-.469.476-1.314 1.316-2.426 2.417l-.027.026a1368.126 1368.126 0 0 1-2.517 2.482L1.49 3.215Z'/%3E%3C/svg%3E");
      height: 16px;
      opacity: 1;
      width: 16px;
    }


  }

  .checklist-input {
    display: flex;
    flex-direction: column;
    margin-inline-start: 40px;

    & .checklist-btn {
      display: flex;
      gap: 3px;
    }

    .non-editable-checklist & {
      display: none;
    }

    .editable-checklist & {
      display: flex;
    }

    &.todos-container {

      li {
        list-style: none;
      }
    }

  }

  .done {
    height: 56px;
    text-decoration: line-through;
    list-style: none;
    border-radius: 3px;
    &:hover {
      background-color: #ebecf0;
    }
  }
  
  .active {
    height: 56px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    border-radius: 3px;
    &:hover {
      background-color: #ebecf0;
    }
  }
}