* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    line-height: 1.6;
}


body {
    font-size: rem(18px);
    margin: 0;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

p {
    padding: 5px;
    margin-block-end: .3px;
    margin-block-start: .3px;
    padding-top: 0px;
}

img {
    width: 100%;

}

a {
    text-decoration: none;
    color: unset;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    height: 8px;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.root-cmp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.main-app {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
    @include for-normal-layout {
        overflow: hidden;
    }
    
}

.main {
    overflow: auto;
    display: flex;
    flex: 1;
    height: 100%;

}