

.attachment-cmp{
display: flex;
flex-direction: column;


& .upload-source{
    margin-bottom: 7px;
    cursor: pointer;
}

& .upload-input{

    & label{
        @include for-h3-dynamic-cmp
    }

    & input{

        background-color: #fafbfc;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        color: #172b4d;
        font-size: 14px;
        line-height: 20px;
        margin: 4px 0 12px;
        outline: none;
        padding: 8px 12px;
        width: 100%;
    }
}

& button{
    
}

    
}