.edit-label-cmp {

    & h4 {
        @include for-h3-dynamic-cmp
    }

    & input {
        @include for-dynamic-input
    }

    & .edit-labels-color-container {
        grid-gap: 8px;
        display: grid;
        gap: 8px;
        padding: 8px;
        grid-template-columns: repeat(auto-fit, 48px);
        padding-left: 32px;

        @include for-normal-layout {
            padding-left: 8px;
        }
    }

    & .edit-label-btns {
        margin-top: 3px;
        display: flex;
        justify-content: space-between;

        & .create-new-label-btn {
            background-color: #0079bf;
            border: none;
            border-radius: 3px;
            color: #fff;
            font-size: .875rem;
            margin-right: 4px;
            padding: 6px 12px;
        }

        & .delete-label-btn {
            background-color: #b04632;
            border: none;
            border-radius: 3px;
            color: #fff;
            font-size: .875rem;
            margin-right: 4px;
            padding: 6px 12px;
            cursor: pointer;
        }
    }



    & .close-edit-label-modal {
        border: none;
        background-color: unset;
        position: absolute;
        right: 8px;
    }

    & .go-back-label-edit {
        border: none;
        background-color: unset;
        position: absolute;
        left: 8px;
    }

    & .label-edit-color-box {
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        height: 32px;
        position: relative;
        display: flex;

        & .color-chosen-icon {
            margin: auto;
        }
    }
}