.labels-cmp {

    & .labels-list {
        display: flex;
        flex-direction: column;

        & .label-container {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            cursor: pointer;

            & button {
                background-color: inherit;
                border: none;
                color: #42526e;
                padding: 6px;
            }

            & .label-color-box {
                background-color: rgb(168, 229, 229);
                border-radius: 3px;
                width: 100%;
                margin-right: 4px;
                min-height: 32px;
                padding-left: 4px;
                position: relative;
                display: flex;
                align-items: center;
            }
        }
    }


    & h4 {
        @include for-h3-dynamic-cmp
    }

    & .create-new-label-btn {
        @include for-dynamic-btn
       
    }
}

.label-exist-icon{
position: absolute;
margin-right: 3px;
right: 5px;
}

