// Colors
$clr0: #ffffff;
$clr1: #026AA7; //main-header(blue)
$clr2: #ebecf0;  // bg-group-preview
$clr3: #091e420a;  // bg-bar-options

//main colors
$clrBg: #FAFBFC;
$clrText: #172B4D;

//list
$clr-bar: #091e420a;

$hover: #091e4214;
$focos:  darken($hover, 5%);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//group
$clrGrPreview: #ebecf0;

